h1 {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkslateblue;
}

h2 {
  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-repeat: no-repeat;
  background-position: center top;
  margin-left: 10%
  margin-right: 10%;
  margin-top: 10%;
  background-attachment: fixed;
}

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}
